<IfModule mod_env.c>
    SetEnv CI_ENV development
</IfModule>

RewriteEngine On
RewriteBase /tasktrek
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php/$1
