body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

label.error{
	color: #b01010;
}

.bg-image {
	background-image: url('assets/img/logo.jpg');
	height: 85vh;
	width: 85vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}
